body {
    background: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.clock {
    color: #fe9617; 
    font-size: 6rem;
    font-family: monospace; 
    letter-spacing: 5px;
    padding: 10px;
    border: 2px solid #fe1717;
    border-radius: 10px;
}
